-f https://download.pytorch.org/whl/torch_stable.html
torch==1.6.0+cpu
torchvision==0.7.0+cpu
asgiref==3.2.7
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.4.1
bleach==3.1.4
Brlapi==0.6.4
chardet==2.3.0
chrome-gnome-shell==0.0.0
click==7.1.1
command-not-found==0.3
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
Django==3.0.6
docopt==0.6.2
entrypoints==0.3
Flask==1.1.1
future==0.18.2
html5lib==0.999
image==1.5.31
imageio==2.9.0
importlib-metadata==1.6.0
imutils==0.5.3
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
language-selector==0.1
louis==2.6.4
lxml==3.5.0
Mako==1.0.3
MarkupSafe==0.23
matplotlib==3.2.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.5
networkx==2.5
notebook==6.0.3
numpy==1.18.2
opencv-python==4.2.0.34
pandas==1.0.3
pandocfilters==1.4.2
parso==0.6.2
pexpect==4.0.1
pickleshare==0.7.5
Pillow==3.1.2
pipreqs==0.4.10
prometheus-client==0.7.1
prompt-toolkit==3.0.5
ptyprocess==0.5
pycups==1.9.73
pycurl==7.43.0
Pygments==2.6.1
pygobject==3.20.0
PyMySQL==0.9.3
pyparsing==2.4.7
pyrsistent==0.16.0
pytesseract==0.3.4
python-apt==1.1.0b1+ubuntu0.16.4.8
python-bidi==0.4.2
python-dateutil==2.8.1
python-debian==0.1.27
python-systemd==231
pytz==2019.3
PyWavelets==1.1.1
pyxdg==0.25
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
reportlab==3.3.0
requests==2.9.1
scikit-image==0.17.2
scipy==1.5.4
Send2Trash==1.5.0
sessioninstaller==0.0.0
six==1.10.0
sqlparse==0.3.1
ssh-import-id==5.5
system-service==0.3
terminado==0.8.3
testpath==0.4.4
tifffile==2020.9.3
tornado==6.0.4
traitlets==4.3.3
typing-extensions==3.7.4.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.13.1
usb-creator==0.3.0
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
xdiagnose==3.8.4.1
xkit==0.0.0
yarg==0.1.9
zipp==3.1.0
