<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="img-form" action="/image" method="POST" enctype="multipart/form-data">
        <div class="text-center">
            <input name="file1" role="button" type="file" accept="image/*" id="input1"
                onchange="loadFile(event)" class="d-none">
                <button id="browse" type="button" class="mt-2 btn btn-lg btn-warning text-white btn-style-half" onclick="document.getElementById('input1').click()">Browse</button>

            <input name="lang" type="text">
            <input type="submit">
        </div>
    </form>
</body>
</html>